body{
  padding-top: 50px;
}
h3.center{
  margin-top: 60px;
  text-align: center;
}
.width80{
  width: 80%;
}
.text-align-center{
  text-align: center;
  margin: 10px  0;
}
.nav-link{
  border: 0;
  padding: 15px;
  color: #999;
  text-decoration: none;
}
.nav-link:hover{
  color: #fff;
  text-decoration: none;
}
.more-padding{
  padding: 40px 15px;
  h3,h2,h5{
    text-align: center;
  }
  .radio{
    width: 250px;
    margin: 10px auto;
    text-align: center;
  }
  .center-aligned{
    text-align: center;
    a,input{
      margin: 0 10px;
    }
  }
}
.padding15{
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
