body{
  padding-top: 50px;
}
h3.center{
  margin-top: 60px;
  text-align: center;
}
.width80{
  width: 80%;
}
.text-align-center{
  text-align: center;
  margin: 10px  0;
}
.nav-link{
  border: 0;
  padding: 15px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 3px 20px;
  clear: both;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}
.more-padding{
  padding: 40px 15px;
  h3,h2,h5{
    text-align: center;
  }
  .radio{
    width: 250px;
    margin: 10px auto;
    text-align: center;
  }
  .center-aligned{
    text-align: center;
    a,input{
      margin: 0 10px;
    }
  }
}
.padding15{
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
.social_login{
  margin: 20px auto;
  p{
    margin-bottom: 15px;
  }
  a{
    padding: 10px;
    background: #3b5998;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    border-radius: 2px;
  }
  a.google_oauth2{
    background: #d14836;
  }
}
.profile_pic{
  width: 40px;
  margin-top: 5px;
  height: 40px;
  float: right;
  border: 2px solid #ccc;
}
h3.word_heading span.badge{
  margin-left: 10px;
}
ul.ui-autocomplete{
  margin: 0;
  list-style-type: none;
  padding: 0;
  background: #F8F8F8;
  border-radius: 1px solid #ccc;
  border-shadow: 3px 3px 3px 2px #ccc;
  li{
    color: #000;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
}
span.ui-helper-hidden-accessible{
  display: block;
/* background: #ccc; */
  color: #a00;
  margin-bottom: 10px;
}
